html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: #17153B;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #C8ACD6;
    font-size: 4.5rem;
    margin-bottom: 100px;
}

h1:hover{
    cursor: pointer;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 700px;
    height: 100vh;
    flex-direction: column;
}

.pomodoro-timer{
    color: #C8ACD6;
    font-weight: bold;
    font-size: 5rem;
    position: relative;
}

.outer{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 1px solid #433D8B;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner{
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border: 1px solid #433D8B;
    position: relative;
    bottom: 310px;
    left: 32px;
}

/*.progress-circle{
    height: 65px;
    background-color: #433D8B;
    width: 200px;
    position: relative;
}*/

.progress-widget{
    height: 410px;
    position: relative;
}

.control-buttons{
    font-size: 2.5rem;
    color: #C8ACD6;
    display: flex;
    align-items: center;
}

.timer-control{
    font-size: 2.5rem;
    width: 190px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #DBD2AF;
    color: #17153B;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    border: none;
}

.timer-control:hover{
    box-shadow: 0px 0px 15px 10px rgba(213, 218, 155, 0.464);
    cursor: pointer;
}

.fa-solid:hover{
    filter: brightness(1.5);
    cursor: pointer;
}